
/*  */
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
body {
    background: #F2F7F2 none repeat scroll 0 0;
    color: #4F4F4F;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

/* Possible Insertion: heading, paragraph */

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #4F4F4F;
}
a:hover {
    color: #FF5E00;
    text-decoration: none;
}
a:focus {
    outline: none;
}
img {
    max-width: 100%;
}
button {
    -webkit-transition: all 0.3s ease-in-out;
	transition: all .3s ease-in-out;
}
ul,li,ol {
	margin: 0;
	padding: 0;
}
fieldset {
	border: 0 none;
	margin: 0 auto;
	padding: 0;
}
label {
	color: #4F4F4F;
}

/* Gray Area */
.top-header {
    background: #E0E0E0;
    padding: 5px 0;
    height: 42.03px;
	transition: all 0.5s ease-in-out;
}
.nav-link {
    padding: 0.5rem 3rem;
    border-right: 1px solid #4F4F4F;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.dropdown-toggle::after {
    margin-left: 0.855em;
}

/* Middle Header */
.middle-header {
    background: #FFFFFF;
}
.middle-header .row {
    height: 154px;
}
.search-box select, .search-box input, .search-box button {
	float:left;
	height:48px;
	border:1px solid #ebebeb;
}
.search-box.style-2 select, .search-box.style-2 input {
    border: 1px solid #056608;
}
.search-box select {
	width:30%;
	border-right:0;
	padding-left:15px;
}
.search-box input {
	width:60%;
    padding-left:15px;
    border-radius: 5px 0 0 5px;
}

.search-box button {
	background-color: #056608;
    width: 10%;
	font-size:14px;
	font-weight:500;
	text-transform:uppercase;
	border:0;
	color:#ffffff;
	cursor:pointer;
	transition:.3s;
}
.search-box.style-2 button {
    border-radius: 0 5px 5px 0;
}
.search-box button:hover {
	background-color:#075309;
}
.search-box.style-3 {
	position:relative;
}
.search-box.style-3 input {
	background-color:#111111;
	border-radius:50px;
	border:0;
	width:100%;
	font-size:12px;
}
.search-box.style-3 button {
    background: transparent;
    position: absolute;
    right: 10px;
    top: 2px;
    width: auto;
}
.search-box.style-3 button i {
	color:#eeeae2;
}
.search-box.style-4 input {
	background-color:#f0f2f9;
}
.search-box.style-4 button i {
	color:#252525;
}


/* Wishlist and Mini Cart Area */
.mini-cart ul {
	margin:0;
	padding:0;
	list-style:none;
}
.mini-cart ul li {
	display:inline-block;
	margin-right:5px;
}
.mini-cart ul li:last-child {
	margin-right:0;
}
.mini-cart.style-2 ul li {
	margin-right:0;
}
.mini-cart ul li.order-track {
	margin-right:60px;
}
.mini-cart ul li.order-track a {
	font-size:14px;
	color:#4c4c4c;
	font-weight:normal;
}
.mini-cart ul li.order-track a i {
	margin-right:15px;
	font-size:16px;
}
.mini-cart > ul > li > a {
	color:#072208;
	font-size:14px;
	font-weight:500;
	position:relative;
	line-height:19px;
}
.mini-cart ul li a:hover {
	color:#FF5E00;
}
.mini-cart ul li a i {
	font-size:22px;
	margin-right:20px;
}
.mini-cart ul li a span {
	background-color: #FF5E00;
	width: 16px;
	height: 16px;
	font-size: 11px;
	color: #ffffff;
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	line-height: 19px;
	position: absolute;
	left: 16px;
	top: -8px;
}
.cart-dropdown {
    background-color: #fff;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 10px 40px -10px rgba(0,0,0,.15);
    box-shadow: 0 10px 40px -10px rgba(0,0,0,.15);
    width: 350px;
    position: absolute;
    top: 50px;
    right: 15px;
    z-index: 9999;
    padding: 30px !important;
	text-align:left;
	display:none;
}
.mini-cart ul li ul {
	border-bottom:1px solid #e5e5e5;
	padding-bottom:22px;
}
.cart-dropdown li {
	display:table;
	width:100%;
	margin-bottom:10px;
}
.cart-dropdown li div {
	display:table-cell;
	vertical-align:top;
}
.mini-cart-thumb img {
	width:70px;
}
.mini-cart-heading {
	padding-left:30px;
}
.mini-cart-heading span {
	font-size:14px;
	color:#FF5E00;
	font-weight:500;
}
.mini-cart-heading h5 {
	font-weight:normal;
}
.mini-cart-heading h5 a {
	color:#072208;
	font-size:14px !important;
    line-height: 1.4 !important;
}
.mini-cart-heading h5 a:hover {
	color:#FF5E00;
}
.mini-cart-remove {
	padding-left:15px;
	vertical-align:middle !important;
}
.mini-cart-remove button {
	background-color:transparent;
	border:0;
	font-size:15px;
	color:#2b3435;
	cursor:pointer;
}
.mini-cart-remove button:hover {
	color:#FF5E00;
}
.mini-cart-thumb {
	vertical-align:middle;
}
.cart-dropdown li img {
    border: 1px solid #ebebeb;
    width: 70px;
    height: 70px;
    max-width: none;
}
.mini-cart-total h5 {
	font-family: 'Nunito Sans', sans-serif;
	font-size:16px;
	font-weight:700;
	color:#636363;
	margin-top:18px;
	margin-bottom:0;
}
.minicart-total {
	margin-top:27px;
}
.minicart-total span {
	font-size:14px;
	text-transform:uppercase;
	color:#FF5E00;
	font-weight:500;
}
.mini-cart-checkout {
	margin-top:15px;
}
.mini-cart-checkout a {
	display:block;
	font-size:12px;
	color:#ffffff;
	transition:.3s;
}
.mini-cart-checkout a:hover {
	color:#ffffff !important;
}
.mini-cart-checkout a.view-cart {
	background-color:#191919;
	border-color:#191919;
}
.mini-cart-checkout a.view-cart:hover {
	background-color:#FF5E00;
	border-color:#FF5E00;
}
.mini-cart-checkout a.checkout {
	background-color:#FF5E00;
}
.mini-cart-checkout a.checkout:hover {
    background-color: rgb(221, 88, 11);
    border-color: #FF5E00;
}
.btn-common {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #FF5E00;
    padding: 0 20px;
    min-width: 140px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #FF5E00;
    border-radius: 30px;
}
.pull-right {
    float: right;
}
.mobile-header {
	display:none;
}

/* Product Categories */
.collapse-menu {
	margin-top: -43px;
}
.collapse-menu ul {
	margin:0;
	padding:0;
	list-style:none;
}
.collapse-menu > ul > li {
	position:relative;
}
.collapse-menu > ul > li > a {
    background-color: #E0E0E0;
	font-size:14px;
	font-weight:500;
	color:#ffffff;
	display:block;
	padding:15px 20px;
	position:relative;
    z-index:9;
    border-radius: 5px 5px 0 0;
}
.collapse-menu.style-2 > ul > li > a {
    padding:13px 20px;
    font-size: 16px;
    color: #072208;
    line-height: 22px;
}
.collapse-menu > ul > li > a i {
	margin-right:15px;
}
.collapse-menu.style-2 > ul > li > ul {
	max-height:unset;
	height:auto;
}
.collapse-menu > ul > li > ul {
	background-color:#ffffff;
	border: 1px solid #ebebeb;
	border-top: 0;
	padding: 15px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index:999;
}
.collapse-menu > ul > li > ul > li {
	display: block;
	margin-bottom: 3.5px;
	padding: 5px 8px;
}
.collapse-menu.style-2 > ul > li > ul > li {
    padding: 0 20px;
    margin-bottom: 12.8px;
}
.collapse-menu > ul > li > ul > li:last-child {
	margin-bottom:0;
}
.collapse-menu ul li ul li a {
	font-size:14px;
	color:#191919;
	display:block;
}
.collapse-menu.style-2 ul li ul li a {
    font-size:14px;
    line-height: 19px;
    color: #4F4F4F;
    padding: 9px;
}
.collapse-menu ul li ul li a:hover {
	color: #FF5E00;
}
.collapse-menu ul li ul li a i {
	color:#4c4c4c;
	margin-right:20px;
}
.collapse-menu ul li ul li a .caret {
	float: right;
	margin: 12px 0 0;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
}
.collapse-menu ul li ul li:hover a .caret {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.collapse-menu ul li ul li {
	position:relative;
}
.collapse-menu ul li ul li ul.mega-menu {
	background-color:#ffffff;
	transform: rotateX(0deg);
    transform-origin: left;
    top: 0;
    left: 100%;
    visibility: hidden;
    padding: 30px;
    font-size: 14px;
    border-radius: 0;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .2s ease-in-out 0s;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}
.collapse-menu ul li ul li:hover ul.mega-menu {
	visibility:visible;
	opacity:1;
	filter: alpha(opacity=1);
}
.collapse-menu ul li ul li ul.mega-menu li a {
    color: #828282;
    font-size: 12px;
    white-space: nowrap;
}
.collapse-menu ul li ul li ul.mega-menu .mega-menu-title {
	color: #072208;
    margin: 0 0 15px 0;
    padding: 0 100px 6px 0;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    border-bottom: 1px solid #828282;
}
.collapse-menu ul li ul li ul.mega-menu .megamenu-single {
	padding-right:50px;
}
.collapse-menu ul li ul li ul.mega-menu .megamenu-single ul li {
	margin-bottom:8px;
}
.collapse-menu ul li ul li ul.mega-menu .megamenu-single ul li:last-child {
	margin-bottom:0;
}
.collapse-menu ul li ul li ul.mega-menu .megamenu-single ul li a:hover {
	color:#FF5E00;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
/* Mega Menu */
.mega-menu {
	background-color:#292636;
	border-top: 2px solid #e23e1d;
	text-align: left;
	z-index: 999;
	box-shadow: 0px 36px 76px 0px rgba( 0, 0, 0, .08 );
	display:table;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
	-webkit-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	position: absolute;
    top: auto;
    left: 0;
}
.megamenu-single {
    display: table-cell !important;
	vertical-align:top;
	padding-bottom:16px;
}
.mega-menu-title {
    font-weight: 400;
    margin: 25px 0 15px;
    font-size: 19px;
    color: #fff;
    padding: 0 30px;
    border: none;
	display:block;
}
.megamenu-single {
    display: table-cell !important;
	vertical-align:top;
	padding-bottom:16px;
}
.mega-menu-title {
    font-weight: 400;
    margin: 25px 0 15px;
    font-size: 19px;
    color: #fff;
    padding: 0 30px;
    border: none;
	display:block;
}

/* Slider Area */
.slider-top {
    border: 1px solid #ebebeb;
}
.slider-single {
	position:relative;
	background-size:cover;
	background-position:center center;
	height:523px;
}
.slick-slide:focus {
	outline:0 !important;
}
.slider-caption {
	padding:0 50px;
	display: table-cell;
	vertical-align: middle;
}
.slider-caption h4 {
    animation-duration: 1s;
    animation-fill-mode: both;
	font-size:14px;
	font-weight:500;
	color:#e23e1d;
	text-transform:uppercase;
	margin-bottom:17px;
}
.slick-current .slider-caption h4 {
    animation-name: fadeInBottom;
    animation-delay: .4s;
    animation-duration: 0.5s;
}
.slider-caption h2 {
	font-size:60px;
}
.slider-caption {
	font-size:14px;
	color:#4c4c4c;
}
.slider-caption p {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.slick-current .slider-caption p {
    animation-name: fadeInBottom;
    animation-delay: 1.2s;
    animation-duration: 0.5s;
}
.slider-product-price {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.slick-current .slider-product-price {
    animation-name: fadeInBottom;
    animation-delay: 1.4s;
    animation-duration: 0.5s;
}
.slider-product-price del {
	font-size:16px;
	color:#4c4c4c;
}
.slider-product-price span {
	font-size:24px;
	font-weight:500;
	color:#e23e1d;
	display:inline-block;
	margin-left:8px;
}
.slider-caption .btn-common {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.slick-current .slider-caption .btn-common {
    -webkit-animation-name: fadeInBottom;
    animation-name: fadeInBottom;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.main-slider.slick-slider .slick-dots {
	position:absolute;
    bottom: 10px;
	margin:0;
	z-index:1;
}
.main-slider.slick-dotted.slick-slider {
	margin:0;
}
.main-slider.slick-slider .slick-dots li button {
    width: 10px;
    height: 10px;
}
.main-slider.slick-slider .slick-dots li.slick-active button {
    width: 10px;
    height: 10px;
}
.slick-slider .slick-arrow {
	background: #f0f2f9;
	width: 26px;
	height: 26px;
	padding: 0;
	line-height: 26px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	color: #191919;
	transition: all .2s ease-in-out 0s;
	position: absolute;
	top: -65px;
	right: 15px;
	z-index: 9;
	border: none;
	box-shadow: none;
	cursor: pointer;
}
.cv-visible.slick-slider .slick-arrow {
	top:-35px;
}
.slick-slider .fa.fa-angle-left.slick-arrow {
   right: 45px;
}
.slick-slider .slick-arrow:hover {
	background-color:#e23e1d;
	color:#ffffff;
}
.slick-slider .slick-dots {
    margin-top: -80px;
    position: relative;
    bottom: unset;
	z-index:1;
	pointer-events:none;
}
.slick-slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
	width:auto;
	height:auto;
}
.slick-slider .slick-dots li button {
	font-size:inherit;
    border: none;
    display: block;
    text-indent: -9999em;
    width: 8px;
    height: 8px;
    padding: 0;
    background: #e1e1e1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}
.slick-slider .slick-dots li.slick-active button {
    background: #e23e1d;
    width: 30px;
    height: 8px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.slick-slider .textnav {
    display: none;
}
.dots-none .slick-dots {
	display:none !important;
}

/* Slider Background */
/* assests\img\sliders */
.slider-single.bg-3 {
	background-image:url(../img/sliders/1.png);
	height:515px;
}
.slider-single.bg-4 {
	background-image:url(../img/sliders/2.png);
	height:515px;
}

/* Product Display */
.carousel_slider li {
	list-style: none;
}
.carousel_slider .product, 
.carousel_slider .product_wrap {
	margin: 5px;
}
.owl-theme .owl-nav [class*="owl-"] i {
	line-height: normal;
}
.owl-theme .owl-dots {
	font-size: 0;
	margin-top: 15px;
}
.owl-theme .owl-dots .owl-dot span {
	background-color: transparent;
	border: 1px solid #FF5E00;
	cursor: pointer;
	margin: 3px;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #FF5E00;
}
.dot_style1.owl-theme .owl-dots .owl-dot.active span {
	width: 30px;
}
.nav_style1.owl-theme .owl-nav [class*="owl-"],
.nav_style5.owl-theme .owl-nav [class*="owl-"] {
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkittransform: translateY(-50%);
	transform: translateY(-50%);
	border-radius: 0;
	width: 30px;
}
.nav_style1.owl-theme .owl-nav [class*="owl-"]:hover {
	background-color: #fff;
	color: #555;
}
.nav_style1.owl-theme .owl-nav .owl-prev {
	left: -50px;
}
.nav_style1.owl-theme .owl-nav .owl-next {
	right: -50px;
}
.nav_style2.owl-theme .owl-nav [class*="owl-"] {
	background-color: transparent;
	position: absolute;
	bottom: 10px;
}
.nav_style2.owl-theme .owl-nav [class*="owl-"]:hover,
.nav_style3.owl-theme .owl-nav [class*="owl-"]:hover,
.nav_style4.owl-theme .owl-nav [class*="owl-"]:hover {
	color: #555;
}
.nav_style2.owl-theme .owl-nav .owl-prev,
.nav_style5.owl-theme .owl-nav .owl-prev {
	left: 0px;
}
.nav_style2.owl-theme .owl-nav .owl-next,
.nav_style5.owl-theme .owl-nav .owl-next {
	right: 0px;
}
.nav_style3.owl-theme .owl-nav [class*="owl-"],
.nav_style4.owl-theme .owl-nav [class*="owl-"] {
	position: absolute;
	top: -90px;
	border-radius: 0;
	right: 0;
	height: auto;
	width: auto;
	background-color: transparent;
}
.nav_style3.owl-theme .owl-nav .owl-prev {
	right: 40px;
}
.nav_style4.owl-theme .owl-nav .owl-prev {
	left: 0px;
	right: auto;
}
.nav_style4.owl-theme .owl-nav .owl-prev i::before {
	content: "\ec43";
	font-family: 'Linearicons';
}
.nav_style4.owl-theme .owl-nav .owl-next i::before {
	content: "\ec44";
	font-family: 'Linearicons';
}
.nav_style5.owl-theme .owl-nav .owl-prev, .nav_style5.owl-theme .owl-nav .owl-next {
	opacity: 0;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.nav_style5.owl-theme .owl-nav .owl-prev:hover, .nav_style5.owl-theme .owl-nav .owl-next:hover {
	background-color: #FF5E00;
	color: #fff;
}
.nav_style5.owl-theme:hover .owl-nav .owl-prev {
	left: 20px;
	opacity: 1;
}
.nav_style5.owl-theme:hover .owl-nav .owl-next {
	right: 20px;
	opacity: 1;
}
.dot_white.owl-theme .owl-dots .owl-dot span {
	border-color: #fff;
}
.dot_white.owl-theme .owl-dots .owl-dot.active span, .dot_white.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #fff;
}
.shorting_icon {
	font-size: 18px;
	margin-right: 10px;
	height: 45px;
	width: 45px;
	float: left;
	text-align: center;
	line-height: 45px;
	border: 1px solid #CED4DA;
	border-radius: 4px;
}
.shorting_icon .ti-layout-list-thumb {
	font-size: 24px;
	line-height: 45px;
}
.shorting_icon.active {
	background-color: #FF5E00;
	color: #fff;
	border-color: #FF5E00;
}
.result_count {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}
.product_header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
}
.product_header_right {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.products_view {
	display: inline-block;
	vertical-align: middle;
}
.product,
.product_wrap {
	background-color: #fff;
	position: relative;
	margin-bottom: 30px;
	transition: all 0.5s ease-in-out;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
}
h6.product_title {
    color: #072208;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.product_box {
	margin-bottom: 30px;
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
}
.product_box .product_info {
	position: relative;
}
.product_box .add-to-cart {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	background-color: #fff;
	padding: 10px 15px 15px 15px;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
}
.product_box:hover .add-to-cart {
	bottom: -10px;
	opacity: 1;
	visibility: visible;
}
.product_box .pr_action_btn li a {
	border-radius: 100%;
	width: 45px;
	height: 45px;
	line-height: 45px;
}
.product_wrap .pr_action_btn li a {
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border-radius: 100%;
	width: 35px;
	height: 35px;
	line-height: 35px;
}
.product_wrap .pr_action_btn li a i {
	line-height: 35px;
	font-size: 16px;
}
.carousel_slider .product, 
.carousel_slider .product_wrap {
	margin: 5px;
}
.product_img img {
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.product_img .product_hover_img {
	opacity: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
}
.product:hover .product_img .product_hover_img,
.product_box:hover .product_img .product_hover_img,
.product_wrap:hover .product_img .product_hover_img {
	opacity: 1;
	z-index: 0;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.pr_desc {
	display: none;
}
.pr_category {
    background-color: #FF9F00;
	position: absolute;
	left: 10px;
	top: 10px;
	text-transform: capitalize;
	color: #fff;
	padding: 2px 8px;
	font-size: 13px;
	z-index: 1;
}
.pr_flash {
	background-color: #FF9F00;
	position: absolute;
	right: 10px;
	top: 10px;
	text-transform: uppercase;
	color: #fff;
	padding: 2px 8px;
	font-size: 13px;
	z-index: 1;
}
.product_info {
    padding: 20px;
    padding-top: 5px;
}
.price {
    font-weight: 500;
    color: #072208;
    font-size: 14px;
    line-height: 19px;
}
.product_price del {
	font-size: 14px;
	margin-right: 5px;
    /* margin-left: 3px; */
    line-height: 19px;
    color: #FF5E00;
}
.product-price del {
	margin-left: 5px;
	color: #919191;
}
.on_sale {
	display: inline-block;
	color: #388e3c;
	font-size: 14px;
}
.product_price {
	margin-bottom: 5px;
}
.product .rating_wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}
.product.text-center .rating_wrap {
	-ms-flex-pack: center;
	justify-content: center;
}
.rating_num {
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
}
.rating_wrap .rating {
    overflow: hidden;
    position: relative;
    height: 20px;
    font-size: 12px;
    width: 70px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    vertical-align: middle;
}
.rating::before {
	font-size: 12px;
	content: "\f005\f005\f005\f005\f005";
	top: 0;
	position: absolute;
	left: 0;
	float: left;
	color: #F6BC3E;
}
.product_rate {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
	color: #F6BC3E;
}
.product_rate::before {
	font-size: 12px;
	content: "\f005\f005\f005\f005\f005";
	top: 0;
	position: absolute;
	left: 0;
	font-weight: 900;
}
.product_action_box {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	right: 0;
	text-align: center;
	padding-top: 0;
	transition: all .5s ease-in-out;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.pr_action_btn {
	display: table;
	margin: 0 auto;
}
.product_img {
	position: relative;
	overflow: hidden;
}
.product_img::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0,0,0,0.2);
	opacity: 0;
	transition: all 0.5s ease-in-out;
	z-index: 1;
}
.product:hover .product_img:before,
.product_box:hover .product_img:before {
	opacity: 1;
}
.pr_action_btn li {
	position: relative;
	margin: 0px 5px;
	display: inline-block;
}
.product_wrap .pr_action_btn li {
	display: block;
	margin: 10px 0;
}
.product_wrap .pr_action_btn {
	margin: 0 0 0 10px;
}
.product_action_box li {
	-webkit-transform: translate(0, 15px);
	-ms-transform: translate(0, 15px);
	-o-transform: translate(0, 15px);
	transform: translate(0, 15px);
	opacity: 0;
}
.product_action_box li:nth-child(1) {
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.product_action_box li:nth-child(2) {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.product_action_box li:nth-child(3) {
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.product_action_box li:nth-child(4) {
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.product:hover .product_action_box li,
.product_box:hover .product_action_box li,
.product_wrap:hover .product_action_box li {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
}
.pr_action_btn li a {
	background-color: #fff;
	font-size: 0;
	text-transform: capitalize;
	transition: all 0.3s ease-in-out;
	width: 37px;
	height: 37px;
	padding: 0;
	display: block;
	text-align: center;
}
.pr_action_btn li a i {
	vertical-align: middle;
	line-height: 37px;
	font-size: 18px;
}
.pr_action_btn li a:hover {
	background-color: #FF5E00;
	color: #fff;
}
.product .product_title,
.product_box .product_title,
.product_wrap .product_title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-transform: capitalize;
}
.product_color_switch span {
	height: 15px;
	width: 15px;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	position: relative;
	cursor: pointer;
	border-radius: 100%;
}
.product .product_color_switch span {
	-webkit-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	opacity: 0;
}
.product_color_switch span.active::before {
	content: "";
	border: 2px solid #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: -3px;
	border-radius: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.product .pr_switch_wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: 7px 15px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
}
.product:hover .pr_switch_wrap {
	opacity: 1;
	visibility: visible;
}
.product:hover .product_color_switch span {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.product_color_switch span:first-child {
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.product_color_switch span:nth-child(2) {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.product_color_switch span:nth-child(3) {
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.product_color_switch span:nth-child(4) {
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.product_color_switch span:nth-child(5) {
	-webkit-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
}
.product_color_switch span:nth-child(6) {
	-webkit-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}
.product_color_switch span:nth-child(7) {
	-webkit-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
.product_list .product,
.product_list .product_wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px;
	margin-bottom: 30px;
}
.product_list .product_img {
	max-width: 30%;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	width: 100%;
}
.product_list .product_info {
	padding: 0px 0 0 15px;
	text-align: left;
	max-width: 70%;
	-ms-flex: 0 0 70%;
	flex: 0 0 70%;
}
.product_list .product_img::before {
	content: normal;
}
.mfp-ajax-holder .mfp-content .ajax_quick_view {
	max-width: 980px;
	background-color: #fff;
	margin: 6px auto;
	padding: 30px;
	position: relative;
}
.mfp-close {
	width: 30px;
	height: 30px;
	line-height: normal;
}
.product-image {
    position: relative;
}
.pr_detail .pr_desc {
    display: inline-block;
}
.pr_detail .pr_desc p {
    margin-bottom: 15px;
}
.pr_detail .rating_wrap {
    float: right;
	margin-top: 7px;
}
.pr_detail .product_price {
    float: left;
}
.pr_detail .price {
    vertical-align: middle;
    font-size: 26px;
}
.cart-product-quantity {
	margin: 7px 10px 7px 0;
	display: table;
}
.quantity {
	display: table;
}
.quantity .minus, .quantity .plus {
	background-color: #eee;
	display: block;
	float: left;
	border-radius: 50px;
	cursor: pointer;
	border: 0;
	padding: 0;
	width: 34px;
	height: 34px;
	line-height: 36px;
	text-align: center;
	font-size: 20px;
	margin: 4px;
}
.quantity .minus {
    padding-left: 4px;
}
.quantity .qty {
	float: left;
	width: 55px;
	height: 36px;
	border: 1px solid #ddd;
	background-color: transparent;
	text-align: center;
	padding: 0;
	margin: 3px;
}
.cart_extra {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
}
.zoomContainer {
	z-index: 99;
}
.zoom_image .zoomContainer {
	z-index: 1043;
}
.zoom_gallery_image .zoomContainer {
	z-index: 0;
}
.switch_lable {
    float: left;
    margin-right: 10px;
}
.pr_detail .pr_switch_wrap {
    margin-bottom: 10px;
}
.product_size_switch span {
	cursor: pointer;
	text-transform: uppercase;
	width: 32px;
	display: inline-block;
	border: 2px solid #ddd;
	text-align: center;
	height: 32px;
	line-height: 28px;
	font-size: 14px;
	margin-bottom: 3px;
}
.product_size_switch span.active {
	border-color: #FF5E00;
	background-color: #FF5E00;
	color: #fff;
}
.list_brand li {
	list-style: none;
	margin-bottom: 10px;
}
.list_brand li:last-child {
	margin-bottom: 0;
}
.list_brand .custome-checkbox .form-check-label {
	color: #292b2c;
}
.cart_btn .add_wishlist, .cart_btn .add_compare {
    font-size: 20px;
    display: inline-block;
    margin-left: 15px;
	vertical-align: middle;
}
.product_gallery_item a {
	border: 1px solid #ddd;
	display: block;
	padding: 5px;
}
.product-meta li {
    list-style: none;
	margin-top: 10px;
}
.slick-vertical .slick-slide {
	border: 0;
}
.slick-list {
	padding: 0 !important;
}
.product_gallery_item.slick-slider .slick-slide {
	margin-right: 5px;
	margin-left: 5px;
}
.product-image .slick-list {
	margin-right: -5px;
	margin-left: -5px;
}
.product_gallery_item a.active {
    border-color: #FF5E00;
}
.vertical_gallery #pr_item_gallery {
	width: 15%;
	float: left;
	margin-right: 10px;
}
.vertical_gallery .slick-list {
	margin-right: 0;
	margin-left: 0;
}
.vertical_gallery .product_gallery_item.slick-slider .slick-slide {
	margin-bottom: 12px;
	margin-right: 0;
	margin-left: 0;
}
.vertical_gallery .slick-prev, .vertical_gallery .slick-next {
    height: 40px;
    width: 100%;
}
.vertical_gallery .slick-prev {
	border-radius: 0 0 5px 5px;
	left: 0;
	right: 0;
	top: -40px;
	margin: 0 auto;
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.vertical_gallery .slick-next {
	border-radius: 5px 5px 0 0;
	right: 0;
	left:0;
	bottom: -40px;
	top: auto;
	margin: 0 auto;
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.vertical_gallery .slick-prev:before {
	content: "\f10e"
}
.vertical_gallery .slick-next:before {
	content: "\f105"
}
.vertical_gallery .slick_slider:hover .slick-prev {
	top: 0;
}
.vertical_gallery .slick_slider:hover .slick-next {
	bottom: 0px;
	right: 0;
}
.product_img_box {
    padding: 8px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    overflow: hidden;
	position: relative;
}
.product_img_zoom {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 999;
	font-size: 18px;
	background-color: #FAFAFA;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 100%;
}
.product_share {
    margin-top: 15px;
}
.product_share > span {
	margin-right: 10px;
}
.product_share > span, .product_share .social_icons {
    vertical-align: middle;
    display: inline-block;
}
.product_share .social_icons li {
	padding-bottom: 0;
}
.product_sort_info {
	margin-bottom: 15px;
}
.product_sort_info li {
	font-size: 14px;
	color: #292B2C;
	padding-bottom: 10px;
	list-style: none;
	padding-left: 22px;
	position: relative;
}
.product_sort_info li i {
	color: #FF5E00;
	position: absolute;
	font-size: 16px;
	left: 0;
	top: 3px;
}
.filter_price .ui-widget.ui-widget-content {
	border: 0;
	border-radius: 0;
	background-color: #ddd;
	height: 4px;
	margin-bottom: 20px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.filter_price .ui-slider .ui-slider-range {
	background-color: #FF5E00;
	border-radius: 0;
}
.filter_price .ui-slider .ui-slider-handle {
	cursor: pointer;
	background-color: #fff;
	border-radius: 100%;
	border: 0;
	height: 18px;
	top: -8px;
	width: 18px;
	margin: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.price_range {
	color: #292b2c;
}
#flt_price {
	margin-left: 5px;
	font-weight: 600;
}
.shop_container {
	position: relative;
}
.loading_pr {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9;
}
.shop_container .loading_pr {
	top: -7px;
}
.shop_container .mfp-preloader {
	top: 100px;
}
.shop_container:not(.list) .list_product_action_box,
.shop_container.list .product_action_box {
	display: none;
}
.shop_container.list .product_img::before {
	content: normal;
}
.shop_container.list [class*="col-"] {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.shop_container.list .product {
	display: inline-block;
	width: 100%;
}
.shop_container.list .product_img {
	float: left;
	width: 100%;
	max-width: 280px;
}
.shop_container.list .product .product_title {
	font-size: 20px;
	margin-bottom: 15px;
}
.shop_container.list .product_info {
	overflow: hidden;
	text-align: left;
	padding: 15px 30px;
}
.shop_container.list .product_price {
	float: left;
}
.shop_container.list .product .rating_wrap {
	display: block;
	float: right;
}
.shop_container.list .pr_desc {
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	min-height: 58px;
	max-height: 84px;
}
.shop_container.list .pr_desc p {
	margin-bottom: 0px;
}
.shop_container.list .product_action_box,
.shop_container.list .product .pr_switch_wrap,
.shop_container.list .product .pr_switch_wrap {
	position: static;
}
.shop_container.list  .product .pr_switch_wrap {
	padding: 0;
	opacity: 1;
	visibility: visible;
	margin-bottom: 10px;
}
.shop_container.list .product .product_color_switch span {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.shop_container.list .product_action_box li {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    filter: alpha(opacity=1);
}
.shop_container.list .pr_action_btn {
	display: block;
	margin: 0;
}
.shop_container.list .pr_action_btn li {
	margin: 0 5px 0 0;
	display: inline-block;
	vertical-align: middle;
}
.shop_container.list .pr_action_btn li a {
	box-shadow: none;
}
.shop_container.list .pr_action_btn li a:hover {
	background-color: transparent;
	color: #FF5E00;
}
.shop_container.list .list_product_action_box .pr_action_btn li.add-to-cart a {
	font-size: 16px;
	width: auto;
	height: auto;
	padding: 12px 30px;
	background-color: #FF5E00;
	border: 1px solid #FF5E00;
	color: #fff;
	border-radius: 4px;
}
.shop_container.list .pr_action_btn li.add-to-cart a:hover {
	background-color: transparent;
	color: #FF5E00;
}
.shop_container.list .pr_action_btn li.add-to-cart a i {
	line-height: normal;
	margin-right: 5px;
}
#Additional-info table td:first-child {
	width: 25%;
}
.product_tab_title span {
	font-weight: 600;
}
.tab-content.shop_info_tab {
	margin-top: 40px;
}
.comment_list {
	margin-bottom: 20px;
}
.comments li {
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.comment_img {
	float: left;
}
.comment_img img {
	border-radius: 100%;
	max-width: 100px;
}
.comment_block {
	padding-left: 120px;
}
.customer_meta {
	margin-bottom: 5px;
}
.comment_block .rating_wrap {
	float: right;
}
.description p:last-child {
	margin: 0;
}
.review_author {
	display: block;
	color: #292b2c;
	font-weight: 500;
}
.comment-date {
	font-style: italic;
}
.star_rating > span {
	color: #F6BC3E;
}
.star_rating span {
	cursor: pointer;
	display: inline-block;
}
.star_rating span i {
	font-size: 20px;
}
.star_rating > span.selected i::before {
	font-weight: 900;
}
.releted_product_slider .item {
	margin: 10px 0px 0px;
}
.releted_product_slider .product {
	margin-bottom: 15px;
}
.mfp-ajax-holder .compare_box {
	width: 90%;
	margin: 6px auto;
	background-color: #fff;
	position: relative;
	padding: 30px;
}
.compare_box .table {
	margin: 0;
	display: block;
}
.compare_box table tr td {
	vertical-align: middle;
	width: 27%;
}
.compare_box table tr td.product_name {
	text-transform: capitalize;
}
.compare_box table tr td.row_title {
	width: 270px;
	text-transform: uppercase;
	font-weight: 600;
}
.row_remove a, .row_remove a:hover {
	color: #FF0000;
}
.in-stock {
	color: #388e3c;
}
.out-stock {
	color: #dc3545;
}
.product_name a {
	font-weight: 600;
}
.row_color .product_color_switch span {
	pointer-events: none;
}
.product-thumbnail img {
	max-width: 100px;
}
.shop_cart_table th, .shop_cart_table td,
.wishlist_table th, .wishlist_table td {
	vertical-align: middle;
	text-align: center;
}
.shop_cart_table th.product-name, .shop_cart_table td.product-name,
.wishlist_table th.product-name, .wishlist_table td.product-name {
	text-align: left;
	text-transform: capitalize;
}
.shop_cart_table .quantity {
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
}
.product-remove a i {
	height: 30px;
	width: 30px;
	color: #292b2c;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	border-radius: 100%;
	font-size: 14px;
}
.product-remove a i:hover {
	background-color: #F00;
	color: #fff;
}
.shop_cart_table td.product-price,
.shop_cart_table td.product-subtotal {
	font-weight: 600;
}
.shop_cart_table .table {
	margin: 0;
}
.toggle_info {
	padding: 20px;
	background-color: #F7F7F7;
}
.toggle_info span {
	padding-left: 25px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.toggle_info i {
	margin-right: 10px;
	color: #FF5E00;
	position: absolute;
	left: 0;
	top: 5px;
}
.login_form .panel-body, .coupon_form .panel-body {
	border: 1px solid #ddd;
	padding: 30px;
	margin-top: 30px;
}
label.label_info {
	color: #292b2c !important;
	font-weight: 600;
}
.ship_detail {
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}
.product-qty {
	font-weight: 600;
}
.product-subtotal {
	font-weight: 600;
}
.order_review {
	background-color: #f7f8fb;
	padding: 30px;
}
.order_table thead th {
	border-bottom-width: 1px;
	font-weight: 600;
}
.order_table tfoot th {
	font-weight: 600;
}
.order_table tbody td {
	border: 0;
}
.payment_method {
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
}
.payment_option .custome-radio {
	margin-bottom: 10px;
}
.payment-text {
	display: none;
	margin-top: 5px;
	margin-bottom: 0;
}
.payment_option .custome-radio:first-child .payment-text {
	display: block;
}
.payment_option .custome-radio .form-check-label {
	color: #292b2c;
	font-weight: 600;
}
.wishlist_table .table td {
	border-bottom: 1px solid #dee2e6;
}
.wishlist_table .badge {
	line-height: normal;
	vertical-align: middle;
	padding: 2px 10px;
}
#load-more {
	transition: none;
}
.grid_item_hide .product,
.grid_item_hide .blog_post {
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.grid_item_hide {
	opacity: 0;
	visibility: hidden;
	height: 0;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	transform: scale(0);
}
.loading {
	background: url('../images/loading.gif') center center no-repeat;
	font-size: 0 !important;
	background-color: #000 !important;
	border: 0;
	height: 51px;
	width: 50px;
	padding: 0;
}
.loading::after, .loading::before {
	content: normal;
}
.load_more_wrap {
	margin-top: 20px;
}
.load_more_wrap span {
	display: inline-block;
	margin: 0;
	line-height: 1;
	font-size: 14px;
}
.order_complete i {
	color: #FF5E00;
	font-size: 80px;
	margin-bottom: 20px;
}
.empty_icon {
	background-color: #DFFFED;
	display: inline-block;
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 100%;
	margin-bottom: 25px;
}
.card-body .comments {
	margin-top: 5px;
}
/* End of Slide JS */

/* General */
.mt-6 {
    margin-top: 6rem;
}
.p-top-side-only {
    padding-top: 3rem !important;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    padding-bottom: 0 !important;
}
.list_none li {
	list-style:none;
}
.btn:focus,.btn:hover,.btn.active {
	box-shadow: none;
	outline: medium none;
}
button:focus {
	outline:none;
}
.border-2 {
	border-width: 2px !important;
}
.btn {
	border-width: 1px;
	cursor: pointer;
	line-height: normal;
	padding: 12px 35px;
	text-transform: capitalize;
	transition: all 0.3s ease-in-out;
}
.btn.active:focus, .btn:active:focus {
	box-shadow: none !important;
}
.btn-fill-out {
	background-color: transparent;
	border: 1px solid #FF5E00;
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn-fill-out::before,
.btn-fill-out::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #FF5E00;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	width: 51%;
}
.btn-fill-out::after {
	right: 0;
	left: auto;
}
.btn-fill-out:hover:before,
.btn-fill-out:hover:after {
	width: 0;
}
.btn-fill-out:hover {
	color: #FF5E00 !important;
}
.btn-fill-line {
	background-color: transparent;
	border: 1px solid #333;
	overflow: hidden;
	position: relative;
	color: #fff !important;
	transition: all 0.8s ease 0s;
	z-index: 1;
}
.btn-fill-line:before, .btn-fill-line:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #333;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	width: 50%;
}
.btn-fill-line::after {
	right: 0;
	left: auto;
}
.btn-fill-line:hover:before,
.btn-fill-line:hover:after {
	width: 0;
}
.btn-fill-line:hover {
	color: #333 !important;
}
.btn-border-fill {
	border: 1px solid #FF5E00;
	color: #FF5E00;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn-border-fill::before,
.btn-border-fill::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #FF5E00;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	width: 0;
}
.btn-border-fill::after {
	right: 0;
	left: auto;
}
.btn-border-fill:hover:before,
.btn-border-fill:hover:after {
	width: 50%;
}
.btn-border-fill:hover {
	color: #fff !important;
}
.btn-white {
	background-color: transparent;
	border: 1px solid #fff;
	color: #292b2c !important;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn-white::before,
.btn-white::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
	z-index: -1;
	transition: all 0.5s ease-in-out;
	width: 50%;
}
.btn-white::after {
	right: 0;
	left: auto;
}
.btn-white:hover:before,
.btn-white:hover:after {
	width: 0;
}
.btn-white:hover {
	color: #fff !important;
}
.btn-fill-out-dark {
	background-color: transparent;
	border: 1px solid #333;
	color: #fff !important;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn-fill-out-dark:hover {
	color: #333 !important;
}
.btn-fill-out-dark::before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	content: '';
	background-color: #333;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.btn-line-fill {
	border: 1px solid #333;
	overflow: hidden;
	position: relative;
	color: #333 !important;
	transition: all 0.8s ease 0s;
	z-index: 1;
}
.btn-line-fill:hover {
	color: #fff !important;
}
.btn-radius {
	border-radius: 40px;
}
.heading_tab_header {
	padding-bottom: 15px;
	/* border-bottom: 1px solid #ddd; */
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
    align-items: center;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}
.heading_tab_header [class*="heading_"] {
	float: left;
}
.heading_s2 h1, .heading_s2 h2, .heading_s2 h3, .heading_s2 h4, .heading_s2 h5, .heading_s2 h6,
.heading_s3 h1, .heading_s3 h2, .heading_s3 h3, .heading_s3 h4, .heading_s3 h5, .heading_s3 h6 {
	font-weight: 600;
    margin: 0;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 25px;
    color: #072208;
}
.heading_s2 h1,
.heading_s2 h2,
.heading_s2 h3,
.heading_s2 h4,
.heading_s2 h5,
.heading_s2 h6 {
	position: relative;
	z-index: 9;
}
.heading_s2 .sub_heading {
	font-size: 100px;
	font-weight: bold;
	padding: 0;
	margin-bottom: -15px;
	z-index: 0;
	position: relative;
	line-height: 100px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#1affffff',GradientType=0 );
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.heading_s2.heading_light .sub_heading {
	background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.01) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.01) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.01) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#1a000000',GradientType=0 );
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.heading_s2 h2 i {
    background: #fff;
    padding: 6px;
    border-radius: 50%;
}

/*  Flash Sales Style */
.side-link {
    position: relative;
    padding-left: 15px;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}

/*  Product Banner */
.single_banner {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.single_banner_info {
	position: absolute;
	right: 0;
	top: 50%;
	padding: 20px;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 50%;
}
.single_bn_title {
	font-weight: bold;
	font-size: 32px;
    line-height: 41px;
    color: #072208;
}
.single_bn_link {
	position: relative;
}
.single_bn_link::before {
	content: "";
	position: absolute;
	bottom: 3px;
	height: 7px;
	background-color: rgba(255,50,77,0.2);
	width: 100%;
	z-index: -1;
}
.single_banner:hover img {
	-moz-transform: scale(1.06);
	-webkit-transform: scale(1.06);
	transform: scale(1.06);
}
.single_banner img {
	transition: all 0.3s ease-in-out;
	width: 100%;
}
.sale_banner {
	padding: 0 10px;
	position: relative;
	margin-bottom: 30px;
}
.sale_banner img {
	width: 100%;
}
.hover_effect1 {
	overflow: hidden;
	position: relative;
	display: block;
}
.hover_effect1::before, .hover_effect1::after {
	background-color: rgba(255, 255, 255, 0.6);
	content: "";
	height: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	transition: all 0.9s ease 0s;
	width: 100%;
	z-index: 1;
}
.hover_effect1::before {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    -moz-transform: translate(105%, 0%);
	-webkit-transform: translate(105%, 0%);
	transform: translate(105%, 0%);
}
.hover_effect1::after {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    -moz-transform: translate(-105%, 0%);
	-webkit-transform: translate(-105%, 0%);
	transform: translate(-105%, 0%);
}
.hover_effect1:hover:before, .hover_effect1:hover:after {
	opacity: 0;
	-moz-transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
.fb_info {
	position: absolute;
	top: 15px;
	padding: 15px;
	left: 15px;
	z-index: 9;
}
.fb_info2 {
	position: absolute;
	top: 50%;
	padding: 15px;
	left: 35px;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;
	width: 40%;
}
.furniture_banner .single_bn_title1 {
	font-size: 80px;
	margin-bottom: 15px;
}
.sale-banner img {
	width: 100%;
}



.scrollup {
	background-color: #171717;
	bottom: 20px;
	color: #ffffff;
	font-size: 24px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 40px;
	z-index: 99;
}
.scrollup:hover {
	background-color: #FF5E00;
	color:#fff;
}
.scrollup:focus {
	color:#fff;
}
.scrollup_style1 {
	background-color: #FF5E00;
}
.scrollup.scrollup_style1:hover {
	background-color: #333;
}




